
/* General */
.basic-info {
    background-color: #F2FDFF;
    color: black;
}
body {
    background-color: #F2FDFF;
}

/* Navigation */
nav {
    background-color: #03045E;
}
.language {
    background-color: #FFD500;
}
.language a {
    color: black;
}

/* First Block */
.profile-text {
    background-color: white;
    box-shadow: 4px 6px 10px #D5D3D3;
}

/* Second Block */
.second-box {
    background-color: white;
    box-shadow: 4px 6px 10px #D5D3D3;
}
.second-box li {
    background: linear-gradient(45deg, #FFF4BC 25%, #FFEA7D 50%, #FFDE38 75%, #FFD500 100%);
}

/* Third Block */
.text-box {
    background-color: white;
    box-shadow: 4px 6px 10px #D5D3D3;
}

/* Footer */
footer {
    background: linear-gradient(45deg, #FFF4BC 25%, #FFEA7D 50%, #FFDE38 75%, #FFD500 100%);
    color: black;
}

/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    line-height: 1.4;
    font-weight: 400;
    font-family: "Noto Sans JP", sans-serif;
    background-color: #0B132B;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.section-divider {
    margin: 60px 0;
}
.header {
    font-size: 3.5rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 20px;
}

/* Navigation */
nav {
    background-color: #03045E;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.logo {
    width: 200px;
    height: auto;
}
.language {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #FFD500;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 1.6rem;
    font-weight: 500;
}
.language a {
    color: black;
    text-decoration: none;
    font-size: 2.0rem;
}
.flag {
    width: 30px;
    height: auto;
}

/* First Block */
.basic-info {
    background-color: #F2FDFF;
    padding-top: 40px;
    color: black;
}
.first-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.profile-image {
    width: 30%;
    border-radius: 30px;;
}
.profile-text {
    background-color: white;
    box-shadow: 4px 6px 10px #D5D3D3;
    padding: 30px;
    border-radius: 30px;
    font-size: 2.8rem;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}
.profile-row {
    display: grid;
    grid-template-columns: 6em 1em auto;
    margin-bottom: 1.8rem;
    align-items: center;
    gap: 15px;
}
.profile-label {
    text-align: right;

}
.profile-colon {
    text-align: center;
}
.profile-value {
    text-align: left;
}

/* Second Block */
.second-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.second-box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.second-box {
    background-color: white;
    box-shadow: 4px 6px 10px #D5D3D3;
    padding: 40px;
    border-radius: 30px;
    font-size: 2.2rem;
    font-weight: 500;
    width: 100%;
    height: auto;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-box ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.second-box li {
    background: linear-gradient(45deg, #FFF4BC 25%, #FFEA7D 50%, #FFDE38 75%, #FFD500 100%);
    border-radius: 20px;    
    padding: 5px 20px;
}

/* Third Block */
.text-box {
    background-color: white;
    box-shadow: 4px 6px 10px #D5D3D3;
    padding: 50px;
    border-radius: 30px;
    font-size: 2.2rem;
    font-weight: 400;
    width: 100%;
    height: auto;
}

/* Footer */
footer {
    background: linear-gradient(45deg, #FFF4BC 25%, #FFEA7D 50%, #FFDE38 75%, #FFD500 100%);
    color: black;
    text-align: center;
    padding: 20px 0;
    font-size: 2.3rem;
    font-weight: 3;
}
    @media (max-width: 768px) {
    /* General */
    .section-divider {
        margin: 30px 0;
    }
    .header {
        font-size: 2.5rem;
    }
    
    /* Navigation */
    .navigation {
        padding: 5px
    }
    .logo {
        width: 130px;
    }
    .language {
        padding: 8px 15px;
        font-size: 1.2rem;
    }
    .language a {
        font-size: 1.2rem;
    }
    .flag {
        width: 20px;
    }

    /* First Block */
    .basic-info {
        padding-top: 0;
        margin-top: -10px;
    }
    .first-block {
        flex-direction: column;
        gap: 0;
    }
    .profile-image {
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
        object-fit: cover;
    }
    .profile-text {
        width: 100%;
        text-align: center;
        padding: 10px 0;
        font-size: 1.8rem;
        gap: 10px;
    }
    .profile-row {
        margin-bottom: 1.2rem;
        grid-template-columns: 5em 1em auto;
    }

    /* Second Block */
    .second-block {
        flex-direction: column;
        align-items: center;
    }
    .second-box {
        font-size: 1.4rem;
        padding: 20px;
    }
    .second-box ul {
        gap: 15px;
    }
    
    /* Third Block */
    .text-box {
        font-size: 1.6rem;
        padding: 20px;
    }

    /* Footer */
    footer {
        font-size: 1.6rem;
        padding: 15px 0;
    }

    .profile-image {
        padding-top: 15px;
    }
}

@media (max-width: 350px) {
    /* First Block */
    .profile-text {
        font-size: 1.4rem;
    }

    /* Second Block */
    .second-box {
        font-size: 1.2rem;
        padding: 15px;
    }

    /* Third Block */
    .text-box {
        font-size: 1.2rem;
        padding: 15px;
    }
}